# Dependencies
node_modules/

# Expo / React Native
.expo/
dist/
web-build/
expo-env.d.ts
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Logs / cache
npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*

# Env
.env
.env*.local

# OS / editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
